<a href="https://colab.research.google.com/github/Jeoneunjae/prac_class/blob/main/2021_3_25_task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.3     ✔ purrr   0.3.4
✔ tibble  3.1.0     ✔ dplyr   1.0.5
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.4.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
table1

  country     year cases  population
1 Afghanistan 1999    745   19987071
2 Afghanistan 2000   2666   20595360
3 Brazil      1999  37737  172006362
4 Brazil      2000  80488  174504898
5 China       1999 212258 1272915272
6 China       2000 213766 1280428583

In [3]:
table2

   country     year type       count
1  Afghanistan 1999 cases             745
2  Afghanistan 1999 population   19987071
3  Afghanistan 2000 cases            2666
4  Afghanistan 2000 population   20595360
5  Brazil      1999 cases           37737
6  Brazil      1999 population  172006362
7  Brazil      2000 cases           80488
8  Brazil      2000 population  174504898
9  China       1999 cases          212258
10 China       1999 population 1272915272
11 China       2000 cases          213766
12 China       2000 population 1280428583

In [4]:
table3

  country     year rate
1 Afghanistan 1999 745/19987071
2 Afghanistan 2000 2666/20595360
3 Brazil      1999 37737/172006362
4 Brazil      2000 80488/174504898
5 China       1999 212258/1272915272
6 China       2000 213766/1280428583

In [5]:
table4a

  country     1999   2000
1 Afghanistan    745   2666
2 Brazil       37737  80488
3 China       212258 213766

In [6]:
table4b

  country     1999       2000
1 Afghanistan   19987071   20595360
2 Brazil       172006362  174504898
3 China       1272915272 1280428583

pivot_longer()

In [8]:
table4a

  country     1999   2000
1 Afghanistan    745   2666
2 Brazil       37737  80488
3 China       212258 213766

In [7]:
table4a %>% pivot_longer(c('1999', '2000'), names_to = "year", values_to="cases")

  country     year cases
1 Afghanistan 1999    745
2 Afghanistan 2000   2666
3 Brazil      1999  37737
4 Brazil      2000  80488
5 China       1999 212258
6 China       2000 213766

In [9]:
tidy4a<-table4a %>% pivot_longer(c('1999', '2000'), names_to="year", values_to="cases")
tidy4b<-table4b %>% pivot_longer(c('1999', '2000'), names_to = "year", values_to = "population")
left_join(tidy4a, tidy4b)

Joining, by = c("country", "year")

  country     year cases  population
1 Afghanistan 1999    745   19987071
2 Afghanistan 2000   2666   20595360
3 Brazil      1999  37737  172006362
4 Brazil      2000  80488  174504898
5 China       1999 212258 1272915272
6 China       2000 213766 1280428583

pivot_wider()

In [10]:
table2

   country     year type       count
1  Afghanistan 1999 cases             745
2  Afghanistan 1999 population   19987071
3  Afghanistan 2000 cases            2666
4  Afghanistan 2000 population   20595360
5  Brazil      1999 cases           37737
6  Brazil      1999 population  172006362
7  Brazil      2000 cases           80488
8  Brazil      2000 population  174504898
9  China       1999 cases          212258
10 China       1999 population 1272915272
11 China       2000 cases          213766
12 China       2000 population 1280428583

In [11]:
table2 %>% pivot_wider(names_from=type, values_from=count)

  country     year cases  population
1 Afghanistan 1999    745   19987071
2 Afghanistan 2000   2666   20595360
3 Brazil      1999  37737  172006362
4 Brazil      2000  80488  174504898
5 China       1999 212258 1272915272
6 China       2000 213766 1280428583

seperate()

In [12]:
table3

  country     year rate
1 Afghanistan 1999 745/19987071
2 Afghanistan 2000 2666/20595360
3 Brazil      1999 37737/172006362
4 Brazil      2000 80488/174504898
5 China       1999 212258/1272915272
6 China       2000 213766/1280428583

In [13]:
table3 %>% separate(rate, into=c("cases", "population"))

  country     year cases  population
1 Afghanistan 1999 745    19987071
2 Afghanistan 2000 2666   20595360
3 Brazil      1999 37737  172006362
4 Brazil      2000 80488  174504898
5 China       1999 212258 1272915272
6 China       2000 213766 1280428583

unite()

In [14]:
table5

  country     century year rate
1 Afghanistan 19      99   745/19987071
2 Afghanistan 20      00   2666/20595360
3 Brazil      19      99   37737/172006362
4 Brazil      20      00   80488/174504898
5 China       19      99   212258/1272915272
6 China       20      00   213766/1280428583

In [15]:
table5 %>% unite(real_year, century, year, sep="")

  country     real_year rate
1 Afghanistan 1999      745/19987071
2 Afghanistan 2000      2666/20595360
3 Brazil      1999      37737/172006362
4 Brazil      2000      80488/174504898
5 China       1999      212258/1272915272
6 China       2000      213766/1280428583

functional programming

In [16]:
df <- tibble(
  a = rnorm(10),
  b = rnorm(10),
  c = rnorm(10),
  d = rnorm(10)
)

In [17]:
median(df$a)
median(df$b)
median(df$c)
median(df$d)

[1] -0.05998673

[1] 0.4406793

[1] 0.214786

[1] -0.09585671

In [20]:
output <- vector("double", ncol(df))
for (i in seq_along(df)) {output[[i]]<-median(df[[i]])}
output

[1] -0.05998673  0.44067932  0.21478603 -0.09585671

In [21]:
install.packages("rbenchmark")
library(rbenchmark)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [22]:
simple1 <- function(n) {
  output <- vector("double", n)
  for(i in 1:n) 
    output[i] = i
  return(output)
} 

simple2 <- function(n) {
  output <- c()
  for(i in 1:n) 
    output = c(output, i)
  return(output)
} 
#both are same but simple1 is faster
#how can we know that? : benchmark

In [24]:
simple1(3)

[1] 1 2 3

In [25]:
simple2(3)

[1] 1 2 3

In [26]:
benchmark("fc1"=simple1(1000),
          "fc2"=simple2(1000),
          replications=100,
          columns=c('test', 'elapsed', 'replications'))

  test elapsed replications
1 fc1  0.007   100
2 fc2  0.238   100

purrr

In [27]:
str(df)

tibble [10 × 4] (S3: tbl_df/tbl/data.frame)
 $ a: num [1:10] 0.7245 -0.0808 -0.1311 0.0303 -1.5225 ...
 $ b: num [1:10] 0.91 -0.567 2.512 1.652 -0.193 ...
 $ c: num [1:10] 0.7891 0.2256 2.1166 0.8285 0.0932 ...
 $ d: num [1:10] -1.864 1.432 1.505 -0.445 -0.682 ...

In [28]:
df %>% map_dbl(mean)

          a           b           c           d
-0.09375061  0.56582681  0.28077957  0.09151927

In [29]:
df %>% map(mean)

$a
[1] -0.09375061

$b
[1] 0.5658268

$c
[1] 0.2807796

$d
[1] 0.09151927

In [30]:
mtcars %>% 
  split(.$cyl) %>% 
  map(function(df) lm(mpg ~ wt, data = df))
# linear model

$`4`

Call:
lm(formula = mpg ~ wt, data = df)

Coefficients:
(Intercept)           wt
     39.571       -5.647


$`6`

Call:
lm(formula = mpg ~ wt, data = df)

Coefficients:
(Intercept)           wt
      28.41        -2.78


$`8`

Call:
lm(formula = mpg ~ wt, data = df)

Coefficients:
(Intercept)           wt
     23.868       -2.192